.search-container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.search {
  padding: 16px;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.search-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: transparent;
  height: 40px;
}

.suggestion-item {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  color: grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.suggestion-title {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 700;
}

.suggestion-desctiption {
  font-size: 14px;
}

.highlighted {
  font-weight: bold;
  color: #f542c5;
}

.loader {
  position: absolute;
  right: 7px;
  top: 7px;
  z-index: 0;
}

.product-image {
  border-radius: 50px;
  object-fit: cover;
}
